/* start variables */
:root {
  --primary-color: #19c8fa;
  --white-color: #ffffff;
  --black-color: #1f2021;
  --light-color: #a8a8a8;
  --transparent-color: rgb(15 116 143 / 70%);
  --overlay-color: rgb(0 0 0 / 70%);
  --section-padding: 100px 0;
}
/* end variables */

/* start global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* end global rules */

/* start components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 60px;
  color: var(--black-color);
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 95px;
  height: 1px;
  background: var(--black-color);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 50%;
}

.main-heading p {
  width: 450px;
  max-width: 100%;
  font-size: 13px;
  color: var(--light-color);
  margin: 0 auto 40px;
  line-height: 1.9;
}

/* end components */

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 95.94px;
}

header .container::after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  background-color: var(--light-color);
  position: absolute;
  bottom: 0;
  left: 15px;
}

header logo .img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
  }

  header nav .burger-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 93px;
    left: 0;
    background: #a8a8a8;
    z-index: 2;
    width: 100%;
  }

  header nav ul li a {
    padding: 15px !important;
  }

  header nav ul li a:hover {
    transform: translateX(5px);
    color: var(--primary-color);
  }
}

header nav ul li {
  position: relative;
  z-index: 2;
}

header nav ul li a {
  display: block;
  padding: 40px 30px;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--white-color);
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

@media (min-width: 768px) and (max-width: 990px) {
  header nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

header nav ul li.active a,
header nav ul li:hover a {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

header nav .search {
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid var(--white-color);
  margin-left: 70px;
}

@media (min-width: 768px) and (max-width: 990px) {
  header nav .search {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  header nav .search {
    margin-left: 23px;
  }
}

header nav .search i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--white-color);
  font-weight: 600;
}

header nav .burger-menu {
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  header nav .burger-menu {
    display: none;
  }
}
/* end header */

/* start landing */
.landing {
  position: relative;
  height: 100vh;
  background-color: var(--light-color);
  background-image: url(../img/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55%;
  background: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
  padding: 60px 70px;
  padding-left: 0;
}

.landing .text .content {
  width: 52%;
  color: var(--white-color);
}

@media (max-width: 767px) {
  .landing .text {
    width: 80%;
    padding: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landing .text .content {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .landing .text {
    width: 80%;
    padding: 60px;
  }
  .landing .text .content {
    width: 70%;
  }
}

.landing .text .content h2 {
  font-size: 30px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

.landing i.change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: var(--white-color);
  cursor: pointer;
  background-color: rgb(0 0 0 / 40%);
  border-radius: 0;
}

@media (max-width: 768px) {
  .landing i.change-background {
    display: none;
  }
}

.landing i.left {
  left: 0;
  padding: 15px 40px 15px 50px;
}

.landing i.right {
  right: 0;
  padding: 15px 65px 15px 25px;
}

.landing ul.bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.landing ul.bullets li {
  width: 15px;
  height: 15px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  cursor: pointer;
}

.landing ul.bullets li.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
/* end landing */

/* start services */
.services {
  padding: var(--section-padding);
}

.services .services-container {
  padding: 30px 0;
}

@media (min-width: 767px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 70px;
    padding: 60px 0 50px;
  }
}

.services .service {
  display: flex;
}

@media (max-width: 767px) {
  .services .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
}

.services .service i {
  font-size: 40px;
  color: var(--black-color);
  margin-right: 70px;
}

@media (max-width: 767px) {
  .services .service i {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.services .service h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.services .service p {
  font-size: 13px;
  color: var(--light-color);
  line-height: 1.8;
}
/* end services */

/* start design section */
.design {
  position: relative;
  padding: var(--section-padding);
  background: url(../img/design-section-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height: 500px;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.design .image,
.design .text {
  flex: 1;
  z-index: 2;
}

.design .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .image img {
  max-width: 100%;
  height: 450px;
  position: relative;
  bottom: -80px;
  left: 60px;
}

.design .text {
  background: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
  padding: 65px 100px;
  padding-right: 0;
}

@media (max-width: 767px) {
  .design .text {
    padding: 60px;
  }
}

.design .text .content {
  width: 100%;
  color: var(--white-color);
}

.design .text .content h2 {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.design .text .content ul li {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.design .text .content ul li::before {
  content: "";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  margin-right: 15px;
  font-size: 20px;
  position: relative;
  top: 3px;
}

.design .text .content ul li:nth-child(1)::before {
  content: "\f3cd";
}
.design .text .content ul li:nth-child(2)::before {
  content: "\f55b";
}
.design .text .content ul li:nth-child(3)::before {
  content: "\e51e";
}
.design .text .content ul li:nth-child(4)::before {
  content: "\f560";
}

/* end design section */

/* start portfolio */
.portfolio {
  padding: var(--section-padding);
}

.portfolio .shuffle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 0 40px 0;
}

.portfolio .shuffle li {
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--black-color-color);
  margin-right: 15px;
  transition: 0.3s;
}

.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}

.portfolio .images-container .box::after {
  content: "\2b";
  font-family: "Font Awesome 7 Free";
  transition: 0.3s;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 40px;
  display: block;
  background: var(--primary-color);
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}

.portfolio .images-container .box:hover::after {
  opacity: 1;
}

.portfolio .images-container .box:hover .caption {
  bottom: 0;
}

.portfolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

@media (min-width: 767px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}

.portfolio .images-container .box img {
  max-width: 100%;
  height: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.portfolio .images-container .box .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  background-color: var(--white-color);
  transition: 0.3s;
  padding: 20px 10px 20px 50px;
  cursor: pointer;
}

.portfolio .images-container .box .caption h4 {
  font: bold;
  font-size: 16px;
  color: var(--black-color);
  margin-bottom: 10px;

  cursor: pointer;
}

.portfolio .images-container .box .caption p {
  font-size: 16px;
  color: var(--primary-color);
  cursor: pointer;
}

.portfolio a.more {
  background: var(--primary-color);
  padding: 15px 50px;
  display: block;
  width: fit-content;
  color: var(--white-color);
  margin: 50px auto 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.portfolio a.more:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
/* end portfolio */

/* start video section */
.video {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.video video {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}

.video .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-color);
  text-align: center;
  z-index: 2;
  padding: 60px 0;
}

.video .content h3 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white-color);
  margin-bottom: 30px;
}

.video .content p {
  margin-bottom: 50px;
  color: var(--white-color);
  font-weight: 100;
}

.video .content button {
  border: 1px solid var(--overlay-color);
  background: var(--overlay-color);
  color: var(--white-color);
  padding: 15px 50px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.video .content button:hover {
  background: transparent;
}
/* end video section */

/* start about section */
.about {
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
}

.about img {
  max-width: 100%;
  position: relative;
  bottom: -117px;
  margin-top: -90px;
  left: -4%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -40px;
  }
}
/* end about section */

/* start statistics section */
.statistics {
  position: relative;
  padding: var(--section-padding);
  background: url(../img/statisitcs.jpg);
  background-size: cover;
  background-position: center;
}

.statistics::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.statistics .container {
  position: relative;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.statistics .container .box {
  color: var(--white-color);
  background: var(--transparent-color);
  padding: 50px;
}

@media (max-width: 767px) {
  .statistics .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .statistics .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .statistics .container .box {
    flex-basis: 25%;
  }
}

.statistics .container .box i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  background: var(--black-color);
  line-height: 60px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.statistics .container .box p.number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.statistics .container .box p.state {
  font-size: 14px;
  text-transform: capitalize;
}
/* end statistics section */

/* start our-skills section */
.our-skills {
  padding: var(--section-padding);
}

.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}

.our-skills .container .heading {
  text-align: center;
  margin-bottom: 50px;
}

.our-skills .container .heading h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 25px;
  color: var(--black-color);
}

.our-skills .container .heading p {
  font-size: 14px;
  line-height: 1.8;
  color: var(--light-color);
  margin-bottom: 25px;
}

.our-skills .container .testimonials {
  position: relative;
  padding-bottom: 50px;
}

.our-skills .container .testimonials .testimonial-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .our-skills .container .testimonials {
    margin-bottom: 30px;
  }
  .our-skills .container .testimonials .testimonial-content {
    flex-direction: column;
    text-align: center;
  }
}

.our-skills .container .testimonials .testimonial-content img {
  height: 110px;
  border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .our-skills .container .testimonials .testimonial-content img {
    margin: 15px auto;
  }
}

.our-skills .container .testimonials .testimonial-content .text {
  font-size: 14px;
  line-height: 1.6;
  color: var(--black-color);
  border-bottom: 1px solid var(--light-color);
}

.our-skills .container .testimonials .testimonial-content .text p {
  margin: 15px 0;
  text-align: right;
  font-size: 13px;
  color: var(--light-color);
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .our-skills .container .testimonials .testimonial-content .text p {
    text-align: center;
  }
}

.our-skills .container .testimonials .testimonial-content .text p span {
  text-transform: uppercase;
}

.our-skills .container .testimonials ul.bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.our-skills .container .testimonials ul.bullets li {
  width: 13px;
  height: 13px;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  cursor: pointer;
}

.our-skills .container .testimonials ul.bullets li.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.our-skills .container .skills {
}

.our-skills .container .skills .prog-holder {
  margin-bottom: 30px;
}

.our-skills .container .skills .prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.our-skills .container .skills .prog-holder .prog {
  background: #ddd;
  height: 30px;
}

.our-skills .container .skills .prog-holder span {
  position: relative;
  display: block;
  background: var(--primary-color);
  height: 100%;
}

.our-skills .container .skills .prog-holder span::before {
  content: attr(data-progress);
  position: absolute;
  right: -20px;
  top: -40px;
  padding: 5px 0;
  color: var(--white-color);
  background-color: var(--black-color);
  font-size: 14px;
  width: 40px;
  text-align: center;
  /* border-radius: 4px; */
}

.our-skills .container .skills .prog-holder span::after {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: var(--black-color) transparent transparent;
  position: absolute;
  top: -14px;
  right: -8px;
}
/* end our-skills section */

/* start quote section */
.quote {
  position: relative;
  padding: var(--section-padding);
  color: var(--white-color);
  background-image: url(../img/quote.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.quote .container {
  position: relative;
}

.quote q {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.quote q::before {
  content: "\f10d"; /*e81b*/
  font-family: "Font Awesome 7 Free";
  font-weight: bold;
  font-size: 35px;
}

.quote q::after {
  content: "\f10e"; /*e81c*/
  font-family: "Font Awesome 7 Free";
  font-weight: bold;
  font-size: 35px;
}

.quote span {
  font-size: 17px;
  letter-spacing: 1px;
}

.quote span::before {
  content: "-";
  margin-right: 5px;
}
/* end quote section */

/* start pricing section */
.pricing {
  padding: var(--section-padding);
  color: var(--black-color);
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.pricing .plan {
  background-color: #fcfcfc;
  text-align: center;
}

.pricing .plan .head {
  padding: 50px 20px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.pricing .plan .head h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.pricing .plan .head div.price {
}

.pricing .plan .head div.price span.currency {
  position: relative;
  top: -40px;
  left: -10px;
  font-size: 20px;
}

.pricing .plan .head div.price span.price {
  font-size: 55px;
  font-weight: 600;
}

.pricing .plan .head div.price span.duration {
  position: relative;
  left: 10px;
  font-size: 20px;
}

.pricing .plan ul {
}

.pricing .plan ul li {
  position: relative;
  padding: 20px 10px;
  text-transform: capitalize;
  font-size: 15px;
}

.pricing .plan ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--primary-color);
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.pricing .plan .foot {
  padding: 40px 20px;
  border-top: 1px solid var(--primary-color);
}

.pricing .plan .foot a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid var(--primary-color);
  color: var(--black-color);
  transition: 0.3s;
}

.pricing .plan .foot a:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.pricing p.contact-text {
  text-align: center;
  margin-top: 40px;
  color: var(--black-color);
}

.pricing a.contact-link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  border: 1px solid var(--primary-color);
  padding: 10px 30px;
  background: var(--primary-color);
  color: var(--white-color);
  transition: 0.3s;
  text-transform: capitalize;
}

.pricing a.contact-link:hover {
  background-color: transparent;
  color: var(--black-color);
}
/* end pricing section */

/* start subscribe section */
.subscribe {
  position: relative;
  padding: var(--section-padding);
  background-image: url(../img/subscribe.jpg);
  background-position: top;
  background-size: cover;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
    text-align: center;
  }
}

.subscribe form {
  position: relative;
  display: flex;
  width: 1000px;
  max-width: 100%;
}

.subscribe form ::placeholder {
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe form i {
  position: absolute;
  color: var(--white-color);
  top: 50%;
  transform: translateY(-50%);
  left: 23px;
  font-size: 20px;
}

.subscribe form input[type="email"] {
  background: transparent;
  padding: 20px 20px 20px 60px;
  border: 1px solid var(--white-color);
  border-right: none;
  caret-color: var(--primary-color);
  color: var(--white-color);
  width: calc(100% - 120px);
}

.subscribe form input[type="email"]::before {
  content: "\f0e0";
  font-family: "Font Awesome 7 Free";
  position: relative;
}

.subscribe form input[type="submit"] {
  padding: 20px;
  border: 1px solid var(--white-color);
  border-left: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 120px;
  cursor: pointer;
}

.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}

.subscribe p {
  color: var(--white-color);
  margin-left: 50px;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .subscribe p {
    margin-top: 30px;
    line-height: 1.9;
  }
}
/* end subscribe section */

/* start contact section */
.contact {
  padding: var(--section-padding);
}

.contact .content {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}

.contact .content form {
  width: 70%;
}

@media (max-width: 767px) {
  .contact .content form {
    width: 100%;
  }
}

.contact .content form .contact-input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--light-color);
  caret-color: var(--primary-color);
  color: var(--black-color);
}

.contact .content form ::placeholder {
  color: var(--light-color);
  text-transform: uppercase !important;
}

.contact .content form .contact-input:focus {
  outline: none;
}

.contact .content form textarea.contact-input {
  height: 200px;
  resize: none;
}

.contact .content form input[type="submit"] {
  display: flex;
  margin-left: auto;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--white-color);
  padding: 20px 50px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .contact .content form input[type="submit"] {
    width: 100%;
  }
}

.contact .content form input[type="submit"]:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact .content .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  color: var(--black-color);
  align-items: flex-start;
  align-content: flex-start;
}

@media (max-width: 767px) {
  .contact .content .info {
    width: 100%;
    order: -1;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}

.contact .content .info div:first-child {
  margin-bottom: 78px;
}

.contact .content .info h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact .content .info span {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  color: var(--light-color);
}

.contact .content .info address {
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: var(--light-color);
}

/* end contact section */
