/* start variables */
:root {
  --primary-color: #19c8fa;
  --white-color: #ffffff;
  --black-color: #1f2021;
  --light-color: #a8a8a8;
  --transparent-color: rgb(15 116 143 / 70%);
  --overlay-color: rgb(0 0 0 / 70%);
  --section-padding: 100px 0;
}
/* end variables */

/* start global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */

/* start components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 60px;
  color: var(--black-color);
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 95px;
  height: 1px;
  background: var(--black-color);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 50%;
}

.main-heading p {
  width: 450px;
  max-width: 100%;
  font-size: 13px;
  color: var(--light-color);
  margin: 0 auto 40px;
  line-height: 1.9;
}

/* end components */

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 95.94px;
}

header .container::after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  background-color: var(--light-color);
  position: absolute;
  bottom: 0;
  left: 15px;
}

header logo .img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
  }

  header nav .burger-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 93px;
    left: 0;
    background: #a8a8a8;
    z-index: 2;
    width: 100%;
  }

  header nav ul li a {
    padding: 15px !important;
  }

  header nav ul li a:hover {
    transform: translateX(5px);
    color: var(--primary-color);
  }
}

header nav ul li {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid transparent;
}

header nav ul li a {
  display: block;
  padding: 40px 30px;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--white-color);
  transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 990px) {
  header nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

header nav ul li.active,
header nav ul li:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

header nav .search {
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid var(--white-color);
  margin-left: 70px;
}

@media (min-width: 768px) and (max-width: 990px) {
  header nav .search {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  header nav .search {
    margin-left: 23px;
  }
}

header nav .search i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--white-color);
  font-weight: 600;
}

header nav .burger-menu {
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  header nav .burger-menu {
    display: none;
  }
}
/* end header */

/* start landing */
.landing {
  position: relative;
  height: 100vh;
  background-color: var(--light-color);
  background-image: url(../img/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55%;
  background: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
  padding: 60px 70px;
  padding-left: 0;
}

.landing .text .content {
  width: 52%;
  color: var(--white-color);
}

@media (max-width: 767px) {
  .landing .text {
    width: 80%;
    padding: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landing .text .content {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .landing .text {
    width: 80%;
    padding: 60px;
  }
  .landing .text .content {
    width: 70%;
  }
}

.landing .text .content h2 {
  font-size: 30px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

.landing i.change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: var(--white-color);
  cursor: pointer;
  background-color: rgb(0 0 0 / 40%);
  border-radius: 0;
}

@media (max-width: 768px) {
  .landing i.change-background {
    display: none;
  }
}

.landing i.left {
  left: 0;
  padding: 15px 40px 15px 50px;
}

.landing i.right {
  right: 0;
  padding: 15px 65px 15px 25px;
}

.landing ul.bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.landing ul.bullets li {
  width: 15px;
  height: 15px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  cursor: pointer;
}

.landing ul.bullets li.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
/* end landing */

/* start services */
.services {
  padding: var(--section-padding);
}
/* end services */
